Package: com.darvin.navnotifynowplaying
Name: NavNotifyNowPlaying
Depends: mobilesubstrate, cc.tweak.libobjcipc
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sergey Klimov
Author: Sergey Klimov
Section: Tweaks
Version: 0.0.1-24
Installed-Size: 88
