Package: com.darvin.navnotifynowplaying
Name: NavNotifyNowPlaying
Depends: mobilesubstrate, cc.tweak.libobjcipc
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sergey Klimov
Author: Sergey Klimov
Section: Tweaks
