Package: com.darvin.navnotifynowplaying
Name: NavNotifyNowPlaying
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sergey Klimov
Author: Sergey Klimov
Section: Tweaks
Version: 0.0.1-17
Installed-Size: 16
